*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#251e1f, #443936);;
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.block{
    background-color: #fff;
    width: 940px;
    height: 395px;
    position: relative;
}
.burger{
    background-image: url(burger.jpg);
    background-size: cover;
    background-position-x: -90px;
    width: 330px;
    height: 395px;
}
.block_burger{
    position: absolute;
    top: 157px;
    left: -12px;
    width: 340px;
    height: 215px;
    background-color: #000000;
}
h1{
    position: relative;
    top: 30px;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.block_burger p{ 
    font-size: 14px;
    color: #f7c73a;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    top: 30px;
}
.block_burger p span{
    color: #ffffff;
}
.moment{
    font-size: 18px;
    position: absolute;
    top: 40px;
    right: 220px;
    color: #333333;
}
.block_ingredients{
    position: absolute;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 15px;
    text-align: center;
    right: 100px;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}
.block_ingredients span{
    display: block;
    color: #999999;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.uppercase{
    text-transform: uppercase;
}
.romb{
    width: 10px;
    height: 10px;
    background-color: #d5d5d5;
    transform: rotate(45deg);
    left: 70px;
    margin: 15px 0;
    position: relative;
    
}
.romb:before{
    content: '';
    height: 1px;
    width: 150px;
    display: inline-block;
    background-color: #d5d5d5;
    position: absolute;
    margin: 100px;
    transform: rotate(-45deg);
    top: -95px;
    left: -170px;
    z-index: 0;
}
button{
    position: absolute;
    left:764px;
    top: 400px;
    background-color: #000;
    border: none;
    color: #fff;
    width: 175px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
}